*,
*:before,
*:after {
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}
.body {
  background-color: $background;
  color: $fonts;
  min-height: 100vh;
}
